filetype
numpy
opencv-python
psutil
PyQt6
pywin32; sys_platform == "win32"
PyYAML
QDarkStyle
rembg
Requests
selenium
undetected_chromedriver
webdriver_manager
onnxruntime
standard_distutils
AlbumentationsX==2.0.20
scipy==1.17.1
plyer